@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&display=swap');

:root {
    --main-color: #E6621F;
    --second-color: #EDEDEE;
    --third-color: #898989;
    --bg-color: #212529;
    --bg-color-2: #2a2e33;

    --text-font: 'Montserrat', sans-serif;
    --title-font: 'Oswald', sans-serif;
}

body{
    background-color: var(--bg-color);
}

.navbar-logo{
    width: 50px;
}

.nav-link{
    color: var(--second-color);
    text-decoration: none;
    padding: 5px 3px;
    border-radius: 10px;
    margin: 0px 10px;
    transition: 0.3s;
    font-family: var(--text-font);
}

.nav-link:hover{
    color: var(--main-color);
}

.nav-button{
    padding: 7px 10px;
    background-color: var(--main-color);
    color: var(--second-color);
    text-decoration: none;
    border-radius: 10px;
    border-style: none;
    font-family: var(--text-font);
}

.nav-button:hover{
    background-color: var(--second-color);
}

.dropdown-item:hover{
    background-color: var(--second-color);
    color: var(--main-color);
}

.mb-50{
    margin-bottom: 150px;
}

.about-bg{
    background-image: url(/img/background-about.jpg);
    height: 400 px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.about-title{
    color: white;
    font-size: 82px;
    font-family: var(--title-font);
    cursor: default;
}

.imagen-equipos{
    width: 250;
    height: 250;
    overflow: hidden;
    float: left;
    margin-left: 2px;
}

.imagen-jugadores{
    width: 250;
    height: 250;
    overflow: hidden;
    float: left;
    margin-left: 230px;
}

.imagen-partidos{
    width: 250;
    height: 250;
    overflow: hidden;
    float: left;
    margin-left: 950px;
    margin-top: -250px;
}
.home-bg{
    background-image: url(/img/background.jpg);
    height: 620px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.contact-bg{
    background-image: url(/img/background_contact.jpg);
    height: 500px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.contact-img{
    display: flex;
    height: 220px;
    width: 220px;
    border-radius: 20px;
    border-style: groove;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    border: none;
    margin-left: auto;
    margin-right: auto;
}
.contact-img-rrss{
    display: flex;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
.home-title{
    color: var(--main-color);
    font-size: 90px;
    font-family: var(--title-font);
    cursor: default;
}
.home-subtitle{
    color: var(--third-color);
    font-size: 30px;
    font-style: italic;
    font-family: var(--text-font);
    cursor: default;
}
.contact-subtitle{
    color: var(--second-color);
    font-size: 30px;
    font-style: italic;
    font-family: var(--text-font);
    cursor: default;
}
.contact-email-text a{
    text-align: center;
    display: flex;
    color: var(--main-color);
    font-size: 15px;
    font-style: italic;
    font-family: var(--text-font);
    margin-top: -30px;
    margin-left: 80px;
}
.section-title-contact{
    color: var(--main-color);
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--title-font);
}
.text{
    text-align: center;
    padding: 30px;
    color: var(--second-color);
    font-family: var(--text-font);
    cursor: default;
}

.text-about{
    text-align: center;
    width: 285px;
    
    margin-left: 2px;
    margin-right: 2px;
    color: var(--second-color);
    font-family: var(--text-font);
}

.home-p{
    font-size: 18px;
}

.btn-default{
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 10px 15px;
    background-color: var(--main-color);
    color: var(--second-color);
    text-decoration: none;
    border:none;
    border-radius: 10px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.btn-default:hover{
    background-color: var(--second-color);
    color: var(--main-color);
    text-decoration: none;
    transform: translateY(-3%);
}

.options-title{
    color: var(--main-color);
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--title-font);
    cursor: default;
}

.options-subtitle{
    color: var(--second-color);
    font-size: 15px;
    text-align: center;
    font-family: var(--text-font);
    cursor: default;
}

.options-area{
    text-align: center;
    color: var(--second-color);
    position: relative;
}

.options-img{
    border-radius: 15px;
    transition: 0.5s;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
}

.options-img:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-2%);
}

.options-img-text, .options-area:after{
    width: 100%;
    position: absolute;
    left: 0;
}

.options-img-text{
    bottom: 0;
    opacity: 0;
    transition: all 0.4s ease;
    color: var(--second-color);
    font-size: 40px;
    font-family: var(--title-font);
    border-radius: 15px;
    font-weight: bolder;
    padding-top: 50px;
}

.options-img-text:hover{
    opacity: 100%;
    text-shadow: 2px 4px 10px #000;
    transform: translateY(-2%);
}

.options-img:hover + .options-img-text{
    opacity: 100%;
    text-shadow: 2px 4px 10px #000;
    transform: translateY(-2%);
}

.options-img-text:hover + .options-img{
    transform: translateY(-2%);
}

.contact-button{
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 10px 15px;
    background-color: var(--main-color);
    color: var(--second-color);
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.contact-button:hover{
    width: 500px;
    padding: 15px 25px;
    background-color: var(--second-color);
    color: var(--main-color);
}

.section-title{
    color: var(--main-color);
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--title-font);
}

.login-register-form{
    background-color: var(--bg-color-2);
    color: var(--second-color);
    border: none;
}

*:focus{
    outline: none;
}

.login-register-form:focus{
    background-color: var(--bg-color-2);
    color: var(--second-color);
}

.login-lost{
    color: var(--main-color);
}

.login-lost:hover{
    color: var(--second-color);
}

.login-remember{
    cursor: pointer;
    background-color: var(--bg-color-2);
    width: 15px;
    width: 15px;
    appearance: none;
}

.login-remember:checked{
    background-color: var(--main-color);
    border: none;
    outline: none;
}

footer{
    background-color: var(--main-color);
}

.footer-flex{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.footer-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-box .footer-logo img{
    width: 100px;
    margin-bottom: -20px;
}

.footer-box .footer-terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: var(--second-color);
    font-size: 15px;
}

.footer-box h2{
    margin-bottom: 30px;
    color: var(--second-color);
    font-weight: 700;
    cursor: default;
}

.footer-box a{
    margin-top: 10px;
    color: var(--second-color);
    font-weight: 600;
    text-decoration: none;
}

.footer-box a:hover{
    opacity: 0.8;
}

.footer-box a .fab{
    font-size: 20px;
}

.footer-copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.footer-copyright p{
    margin-top: 20px;
    color: var(--second-color);
    cursor: default;
}

.footer-copyright hr{
    border: none;
    height: 1px;
    background-color: var(--second-color);
}

.profile-title{
    color: var(--second-color);
    font-size: 20px;
    text-transform: uppercase;
    color: var(--second-color);
    font-family: var(--text-font);
    cursor: default;
    text-align: end;
}

.profile-text{
    color: var(--main-color);
    font-size: 15px;
    font-family: var(--text-font);
    cursor: default;
}

::-webkit-scrollbar{
    width: 7px;
    background-color: var(--bg-color-2);
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 10px;
}

@media (min-width: 768px){
    .col-md-2 {
        flex: 0 0 auto;
        width: 30%;
    }    
}
