
:root {
    --main-color: #E6621F;
    --second-color: #EDEDEE;
    --third-color: #898989;
}

.navbar-logo{
    width: 50px;
}

.nav-link{
    color: var(--second-color);
    text-decoration: none;
}

.nav-link:hover{
    color: var(--main-color);
}

.nav-button{
    padding: 7px 10px;
    background-color: var(--main-color);
    color: var(--second-color);
    text-decoration: none;
    border-radius: 10px;
    border-style: none;
}

.nav-button:hover{
    background-color: var(--second-color);
}

.dropdown-item:hover{
    background-color: var(--second-color);
    color: var(--main-color);
}